<!DOCTYPE html>
<html>
<head>
	<title>To-Do app</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Data table -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-html5-1.0.3,b-print-1.0.3,se-1.0.1/datatables.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

	<style>
		#div_main {
			padding: 5%;
		}

		th, td {
			text-align: center;
		}

		.row_data, .row_select_data_date, .row_select_checkbox {
			min-height: 25px;
		}

		.remove-btn {
			background-color: red;
		}

		.edit-field {
			/* padding: 5px 0 5px 0; */
			background: black;
			color: #FFFFFF;
		}

		.alert-word {
			color: red;
		}
	</style>
</head>

<body>
  <div>
		<h2 style="text-align: center;">To-Do app</h2>

		<div id="div_main">
			<button type="button" onclick="createNewToDo()">Create new to-do</button>

			<div id="div_check_password">
				<hr>
				<input id="check_password" type="password" name="check_password" placeholder="password">
				<button type="button" onclick="submitCheckPassword()">Submit</button>
			</div>

			<div id="div_to_do">

			</div>
		</div>
	</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!-- Data table -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/r/dt/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-html5-1.0.3,b-print-1.0.3,se-1.0.1/datatables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript">
	const changed_item_obj = {};
	const removed_item_arr = [];
	var current_row_num;

	function submitCheckPassword() {
		let check_password = $('#check_password').val();
		// console.log(check_password);

		$.ajax({
				url: `/check-to-do-list-password`,
				type: 'post',
				data: {check_password},
				success: function (data) {
					if (data) {
						let to_do_json_data = '<%- JSON.stringify(to_do_json_data) %>';
						to_do_json_data = JSON.parse(to_do_json_data);
						// console.log(to_do_json_data);
						let to_do_json_data_tr_data = to_do_json_data.data;

						let tr_data;
						for (var key in to_do_json_data_tr_data) {
							tr_data += `
								<tr id='${key.slice(3)}'>
									<td data-order="${key.slice(3)}"><div class="row_data" scope="row">${to_do_json_data_tr_data[key].item ? to_do_json_data_tr_data[key].item : ''}</div></td>
									<td><div class="row_select_data_date" scope="row">${to_do_json_data_tr_data[key].due_date ? to_do_json_data_tr_data[key].due_date : ''}</div></td>
									<td><div class="row_select_checkbox" scope="row"><input type="checkbox" name='status' value="status" ${to_do_json_data_tr_data[key].status  ? 'checked' : ''} /></div></td>
									<td><button type="button" class="remove-btn" onclick="remove(this)">Remove</button></td>
								</tr>
							`;
						}
						// console.log(tr_data);

						$('#div_check_password').hide();
						$('#div_to_do').html(`
							<hr>

							<h3>To-do list</h3>
							<hr>
							<h3><span class="alert-word">Caution:</span> If not click "Save to-do list" button, all the data will be lost</h3>
							<br>

							<table id='table_to_do' class="table noselect display nowrap">
					      <thead>
					        <tr>
					          <th scope="col">Item</th>
					          <th scope="col">Due date</th>
										<th scope="col">Status</th>
										<th scope="col"></th>
					        </tr>
					      </thead>

					      <tbody>
									${tr_data}
								</tbody>
							</table>

							<button type="button" onclick="addNewToDoItem()">Add new to-do item</button>

							<hr>
							<button type="button" onclick="updateToDo()">Update to-do list</button>

							<div id="div_to_do_list_url">
							</div>
						`);

						$('#table_to_do').DataTable({
							dom: 'lfrtip',
							'ordering': true,
				      'searching': true,
				      "scrollX": true,
							// buttons: ['excel'],
							"pageLength": 25,
				    	"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ]
				    });

						$(`input[type='checkbox']`).change(function() {
							let tr_id = $(this).closest('tr').attr('id');
					  	var value = this.checked;

							changed_item_obj[`tr_${tr_id}`] = {
								...changed_item_obj[`tr_${tr_id}`],
								status: value
							}
							// console.log(changed_item_obj);
					  });

						current_row_num = $('#table_to_do tbody tr').last().attr('id');
					} else {
						alert('Wrong password');
					}
				},
				// error: function (err) {
				//     console.log(err);
				// }
		});
	}

	function createNewToDo() {
		window.open('http://localhost:3000', '_blank').focus();
	}

	//--->make div editable > start
	$(document).on('click', '.row_data', function(event) {
		// console.log(this);
		event.preventDefault();

		//make div editable
		$(this).closest('div').attr('contenteditable', 'true');
		//add bg css
		$(this).addClass('edit-field');

		$(this).focus();

		// console.log($(this).text());

		$('insurance_payment').DataTable().columns.adjust();
	})
	//--->make div editable > end

	//--->save single field data > start
	$(document).on('focusout', '.row_data', function(event) {
		// console.log(this);
		event.preventDefault();

		// var row_id = $(this).closest('tr').attr('row_id');

		var row_div = $(this).removeClass('edit-field');

		$(this).closest('div').attr('contenteditable', 'false');

		let tr_id = $(this).closest('tr').attr('id');
		let item = $(this).text();
		// console.log(tr_id);
		// console.log(item);

		changed_item_obj[`tr_${tr_id}`] = {
			...changed_item_obj[`tr_${tr_id}`],
			item: item
		}
		// console.log(changed_item_obj);

		$('insurance_payment').DataTable().columns.adjust();
	})
	//--->save single field data > end

	// Select Due date
	$(document).on('click', '.row_select_data_date', function(event) {
		// console.log(this);
		event.preventDefault();
		var selected_value = $(this).text();

		if ($(this).children().attr('id') == 'select_date') {
			return false;
		}

		$(this).html(`<input type="date" id="select_date" onkeydown="return false" value="${selected_value}">`);
		$(this).removeClass('row_select_data_date');

		$('#masterlist_table').DataTable().columns.adjust();
	})

	$('body').on('change', '#select_date', function(event) {
		event.preventDefault();
		let tr_id = $(this).closest('tr').attr('id');
  	var value = $(this).val();

		changed_item_obj[`tr_${tr_id}`] = {
			...changed_item_obj[`tr_${tr_id}`],
			due_date: value
		}
		// console.log(changed_item_obj);

		$(this).parent().addClass('row_select_data_date');
		$(this).parent().html(value);

		$('#masterlist_table').DataTable().columns.adjust();
	});

	$(`input[type='checkbox']`).change(function() {
		let tr_id = $(this).closest('tr').attr('id');
  	var value = this.checked;

		changed_item_obj[`tr_${tr_id}`] = {
			...changed_item_obj[`tr_${tr_id}`],
			status: value
		}
		// console.log(changed_item_obj);
  });

	function remove(this_value) {
		let tr_id = $(this_value).closest('tr').attr('id');
		removed_item_arr.push(tr_id);

		$(this_value).closest('tr').remove();
	}

	function addNewToDoItem() {
		// console.log(current_row_num);
		var new_row_num = parseInt(current_row_num) + 1;
		// console.log(new_row_num);
		current_row_num = new_row_num;

		$('#table_to_do > tbody:first').append(
			`<tr id="${new_row_num}">
			<td><div class="row_data" scope="row"></div></td>
			<td><div class="row_select_data_date" scope="row"></div></td>
			<td><div class="row_select_checkbox" scope="row"><input type="checkbox" name='status' value="status" /></div></td>
			<td><button type="button" class="remove-btn" onclick="remove(this)">Remove</button></td>
			</tr>`
		);
	}

	function updateToDo() {
		// console.log(changed_item_obj);
		// console.log(removed_item_arr);

		$.ajax({
				url: `/update-to-do-list`,
				type: 'post',
				data: {
					changed_item_obj: JSON.stringify(changed_item_obj),
					removed_item_arr: JSON.stringify(removed_item_arr)
				},
				success: function (data) {
					console.log(data);

					alert('Update success');
				},
				// error: function (err) {
				//     console.log(err);
				// }
		});
	}

	function copyText(element) {
		var range, selection, worked;

	  if (document.body.createTextRange) {
	    range = document.body.createTextRange();
	    range.moveToElementText(element);
	    range.select();
	  } else if (window.getSelection) {
	    selection = window.getSelection();
	    range = document.createRange();
	    range.selectNodeContents(element);
	    selection.removeAllRanges();
	    selection.addRange(range);
	  }

		try {
	    document.execCommand('copy');
	    alert('URL copied');
	  }
	  catch (err) {
	    alert('unable to copy text');
	  }
	}
</script>
</html>
